<html>
<head><title>恋曲1990</title></head>

<link href="{{STATIC_URL}}dist/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="{{STATIC_URL}}lianqu1990/css/lianqu1990.css" rel="stylesheet" media="screen">
<meta charset="utf-8"/>
<body>

<div id="nav">

<ul class="nav nav-tabs">
<li><a href="#">Home</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Messages</a></li>
</ul>

<div>

<div id="left_bar" class="bs-sidebar hidden-print affix">
	<h3>有意思的网站</h3>

	<a href="http://www.lianqu1990.com/articles"><h3>好文章</h3></a>
	
	<a href="http://www.lianqu1990.com/books"><h3>好书</h3></a>
	
	<a href="http://www.lianqu1990.com/learning_way"><h3>学习路程</h3></a>
</div>



<div class="list-group" id="main">

<form action="http://www.douban.com/search" method="get">
       <input type="text" class="form-control" maxlength="60" size="12" title="书籍、电影、音乐、小组、小站、成员" name="q" autocomplete="off">
       <button type="submit" class= "btn btn-primary">Search</button>
</form>


<div class="alist-group-item">
	<a href="http://taligarsiel.com/Projects/howbrowserswork1.htm" target="_black">how browsers work</a>
	<p>一篇讲浏览器工作原理非常好的文章，作者是chrome团队的一员，她花了几年的时间研究chrome, firefox, safari这些开源浏览器，写了这些宝贵的东西。</p>
</div>
<div class="alist-group-item">
	<a href="http://www.cnblogs.com/vamei" target="_black">vamei的博客</a>
	<p>博客园里一个很好的技术博客，写过的有Python,Linux,网络协议，Java, 概率方面的系列文章。</p>
</div>
<div class="alist-group-item">
	<a href="http://dandyweng.com/" target="_black">翁天信的个人网站</a>
	<p>这是一个很美的个人网站，很值得学习，没有后端，只有前台。主人也是一个在中国教育体制下很特别的人</p>
</div>
<div class="alist-group-item">
	<a href="http://coolshell.cn/" target="_black">陈浩的技术博客-酷壳 </a>
	<p>很多好文章，多去看</p>
</div>
<div class="alist-group-item">
	<a href="http://www.w3school.com.cn/" target="_black">W3C School</a>
	<p>学习web，很全很好的一个网站，像js里面的例子很详细，有基础的有进阶的</p>
</div>
<div class="alist-group-item">
	<a href="http://www.cplusplus.com/" target="_black">C++的一个网站</a>
	<p>有C++语言学习，库查询，我做C++的时候常用</p>
</div>
<div class="alist-group-item">
	<a href="http://designmodo.github.io/Flat-UI/" target="_black">Flat-UI</a>
	<p>基于booststrap的一个很美的UI工具箱</p>
</div>
<div class="alist-group-item>">	
	<a href="https://docs.djangoproject.com/en/1.5/" target="_black">Django</a>
	<p>Python Web Framework中使用最广泛，文档最全的django。</p>
</div>	
<div  class="alist-group-item">
	<a href="http://xapian.org/" target="_black">Xapian</a>
	<p>被很广泛使用的开源搜索引擎, 被很多网站用作后台搜索引擎，由C++实现，大量使用STL，也值得拿来作为搜索引擎学习材料。</p>
</div>
<div  class="alist-group-item">	
	<a href="http://www.bootcss.com/" target="_black">bootstrap</a>
	<p>席卷世界的前端开发框架，lianqu1990.cn就是基于bootstrap来做，这是<a href="http://getbootstrap.com/" target="_black">英文站点</a></p>
</div>
<div class="alist-group-item">	
	<a href="http://nginx.org/" target="_black">Nginx</a>
	<p>Nginx可用作HTTP Server，可做reverse proxy server，超过15%的网站使用Nginx。lianqu1990目前使用了Nginx。</p>
</div>	
<div  class="alist-group-item">
	<a href="http://webpy.org/"  target="_black">webpy</a>
	<p>一个简洁强大的web framework for python，作者是一个英年早逝的天才，我就感觉应该会使用它来构建我的网站。</p>
</div>
<div class="alist-group-item">
	<a href="http://www.vim.org/"  target="_black">Vim</a>
	<p>强大的编辑器，我好像就没用的过了初级这个阶段</p>
</div>
<div class="alist-group-item">
	<a href="http://python.org/" target="_balck">Python</a>
	<p>Python，我很喜爱的语言，这个网站后台使用Python，没事多上去看看</p>
</div>
<div>
	<a href="http://www.w3school.com.cn/sql/index.asp" target="_black">SQL</a>
	<p>sql语言学习，来自W3C School</p>
</div>
<div>
	<a href="http://www.regexlab.com/" target="_black">regexLab</a>
	<p>学习正则表达式的一个网站，一个中国人做的</p>
</div>

<div>
	<a href="http://cr.yp.to/daemontools.html" target="_black">Daemontools</a>
	<p>Daemontools是一套工具，用来管理Unix下的服务，只能用于Unix下</p>
</div>

<div>
	<a href="http://www.pip-installer.org/en/latest/" target="_black">pip</a>
	<p>pip: a tool for installing and managing Python packages</p>
</div>

<div>
	<a href="http://www.ibm.com/developerworks/cn/linux/l-cn-screen/" target="_black">screen</a>
	<p>screen: 使用screen管理linux远程服务</p>
</div>

<div>
	<a href="http://www.yinwang.org/" target="_black">王垠个人网站</a>
	<p>王垠的个人网站，我觉得我跟他有很多相似的</p>
</div>

<div>
	<a href=" " target="_black">Git</a>
	<p>git,现在最好的源码管理工具，<a href="http://rogerdudler.github.io/git-guide/index.zh.html" target="_black">一篇git好文</a></p>
</div>

<div>
	<a href="http://www.tornadoweb.org/">Tornado WebServer</a>
	<p>Tornado即是一个Python Web框架，也是一个异步网络库(asynchronous networking library), 最开始由FriendFeed开发，后来被facebook收购</p>
</div>

<!-- 如何上传一个文件到服务器  -->
<form method="post" enctype="multipart/form-data" action="upload">
<input type="file"/>
<div>
<input type="submit" value="Send"/>
</div>
</form>
<!-- 如何上传一个文件到服务器  -->

<div>
	<a href="/upload">上传文件</a>
</div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{STATIC_URL}}dist/js/bootstrap.js"></script>
<script src="{{STATIC_URL}}lianqu1990/js/lianqu1990.js"></script>
</body>
</html>
